body{
    background-color: #fef1e4;
    font-family: Arial, Helvetica, sans-serif;
}

.LPTitle{
    background-color: black;
    color: white;
    text-align: center;

}

.Header{
    background-color: black;
    color: white;
    text-align: center; 
}

.blog-post{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

@media (min-width: 1000px){
    .blog-post{
        width: 70%;
    }
    #content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}